server:
  port: 8002

spring:
  application:
    name: service-member
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.186.129:3306/heikeji_mall?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: Mysql@8Root!2025
  # 禁用Nacos服务发现和配置检查，避免启动错误
  cloud:
    nacos:
      discovery:
        enabled: false
      config:
        import-check:
          enabled: false
        enabled: false

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.heikeji.mall.member.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    root: info
    com.heikeji.mall.member: debug